nav{
	display: flex;
	justify-content: space-around;
}


.menu{
	color: black;
	font-size: 20px;
	padding: 20px 5px;
	text-decoration: none;

}

.menu:hover{
	text-decoration: underline 3px;
}

section:not(:target){
	display:none;
	
}

section:target{
	display: flex;
	flex-direction: column;
	align-items: center;
}

