nav {
    z-index: 5;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
    height: 250px;
    width: auto;
}

body {
    background-color: lightgray;
}

.menu {
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: whitesmoke;
    font-size: 20px;
    padding: 20px 5px;
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline 3px white;
}

section:not(:target) {
    display: none;
}

section:target {
    margin-bottom: 100px;
    z-index: 3;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}

.job {
    width: 500px;
    border: 3px solid black;
}

.formation {
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    height: 100px;
    margin: 10px;
    width: 700px;
    padding: 5px;
    border: 3px solid black;
}

#competenceglobal {
    padding: 50px;
}

.competenceperso {
    padding: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 5px solid black;
}

.renvoimessage{
    color: black;
    font-size: 40px;
    position: relative;
    top: 50%;
    left: 50%;
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 5;
    width: 100%;
    height: auto;
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footermenu {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 15px;
    padding: 3px;
    text-decoration: none;
}

.footermenu:hover {
    text-decoration: underline 3px white;
}